<div class="popular" *ngIf="res">
  <h1 class="popular__title">Popular People</h1>

  <div class="popular__grid">
    <ng-container *ngFor="let p of res.results; let index = index;">
      <app-people-card
        [item]="p"
        [hasPopularity]="true"
        [hasCharater]="true"
        [hasKnow]="true"
        [knowFor]="knowFors[index]"
        [action]="'people-detail'"
        [wImg]="'280px'"
        [hImg]="'278px'"
        [titleSize]="'18px'"
        [fontSize]="'16px'"
        [imgFlex]="4"
      ></app-people-card>
    </ng-container>
  </div>

  <div class="popular__pagination">
    <button
      class="popular__btn"
      (click)="loadPage(currentPage - 1)"
      [disabled]="currentPage <= 1"
    >
      Previous
    </button>
    <span class="popular__page">{{ currentPage }} / {{ res.total_pages }}</span>
    <button
      class="popular__btn"
      (click)="loadPage(currentPage + 1)"
      [disabled]="currentPage >= res.total_pages"
    >
      Next
    </button>
  </div>
</div>
