<footer class="footer">
  <div class="footer__col">
    <img src="../../../assets/images/footer_logo.svg" alt="">
  </div>
  <div class="footer__col">
    <h1 class="footer__title">The Basics</h1>
    <nav class="footer__nav">
      <a [routerLink]="['/']">Giới thiệu về TMDB</a>
      <a [routerLink]="['/']">Contact Us</a>
      <a [routerLink]="['/']">Support Forums</a>
      <a [routerLink]="['/']">API Documentation</a>
      <a [routerLink]="['/']">System Status</a>
    </nav>
  </div>
  <div class="footer__col">
    <h1 class="footer__title">Get Involved</h1>
    <nav class="footer__nav">
      <a [routerLink]="['/']">Contribution Bible</a>
      <a [routerLink]="['/']">Thêm phim mới</a>
      <a [routerLink]="['/']">Thêm chương trình TV mới</a>
    </nav>
  </div>
  <div class="footer__col">
    <h1 class="footer__title">Community</h1>
    <nav class="footer__nav">
      <a [routerLink]="['/']">Guidelines</a>
      <a [routerLink]="['/']">Discussions</a>
      <a [routerLink]="['/']">Leaderboard</a>
    </nav>
  </div>
  <div class="footer__col">
    <h1 class="footer__title">Legal</h1>
    <nav class="footer__nav">
      <a [routerLink]="['/']">Terms of Use</a>
      <a [routerLink]="['/']">API Terms of Use</a>
      <a [routerLink]="['/']">Privacy Policy</a>
      <a [routerLink]="['/']">DMCA Policy</a>
    </nav>
  </div>
</footer>
