<div (click)="onPosterClick()" [style]="{ width: wImg }" class="white-card">
  <div [style.flex]="imgFlex" class="white-card__poster">
    <img
      [style]="{
        width: wImg,
        height: hImg
      }"
      [src]="getImageSrc()"
      [alt]="getAltText()"
    />
    <div *ngIf="hasScore" class="white-card__score">
      {{ getScore() | score }}
      <span>%</span>
    </div>
    <div [style.width]="wImg" class="white-card__footer">
      <h3
        [style]="{
          color: color,
          fontSize: titleSize
        }"
        class="white-card__name"
      >
        {{ getName() }}
      </h3>
      <h4 class="white-card__date" *ngIf="hasDate">
        {{ getReleaseDate() | date : "MMM dd, yyyy" }}
      </h4>
      <h4
        *ngIf="hasPopularity"
        [style]="{
          color: color,
          fontSize: fontSize
        }"
      >
        Popularity: {{ popularity | number : "1.0-0" }}
      </h4>
      <h4
        [style]="{
          color: color,
          fontSize: fontSize
        }"
        *ngIf="hasCharater"
        [style.color]="color"
      >
        {{ character }}
      </h4>
      <h4
        *ngIf="knowFor"
        [style]="{
          color: color,
          fontSize: fontSize
        }"
      >
        {{ knowFor }}
      </h4>
    </div>
  </div>
</div>

<img
  class="white-card__more"
  (mouseenter)="onMoreEnter()"
  (mouseleave)="onMoreLeave()"
  (click)="onMoreClick()"
  *ngIf="hasMore"
  [src]="crrMore"
  alt="more"
/>
<div class="action-menu" *ngIf="isMoreVisible()">
  <app-inner-loading
    [loading]="loadingService.loading$('inner') | async"
  ></app-inner-loading>
  <ul class="action-menu__list">
    <li class="action-menu__item" (click)="onItemMoreClick('list')">
      <i [class]="getIconClass('list')"></i>
      <span class="action-menu__label">Add to list</span>
    </li>
    <li class="action-menu__item" (click)="onItemMoreClick('heart')">
      <i [class]="getIconClass('heart')"></i>
      <span class="action-menu__label">Favorite</span>
    </li>
    <li class="action-menu__item" (click)="onItemMoreClick('bookmark')">
      <i [class]="getIconClass('bookmark')"></i>
      <span class="action-menu__label">Watchlist</span>
    </li>
    <li class="action-menu__item" (click)="showRating()">
      <i [class]="getIconClass('star')"></i>
      <span class="action-menu__label">Your rating</span>
    </li>
  </ul>
</div>

<app-rating [(value)]="score" [name]="getTitle()"></app-rating>
