:host {
  opacity: 0;
  animation: fadeIn 0.8s ease-in-out forwards;
  transition: all 0.5s ease-in-out;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.aside {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-width: 280px;
  margin-top: 36px;

  &__social-link {
    display: flex;
    gap: 8px;
    align-items: center;
    border-bottom: 1.2px solid rgb(212, 212, 212);
    padding-bottom: 8px;
    img {
      width: 32px;
      height: auto;
    }
  }

  &__info {
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 16px;
      margin: 0;
    }
    padding-bottom: 32px;
    border-bottom: 1.2px solid rgb(212, 212, 212);
  }

  &__keywords {
    display: flex;
    flex-direction: column;
  }
  &__keyword {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 8px;
  }

  &__key {
    padding: 8px;
    width: max-content;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(224, 224, 224, 0.507);

    &:hover {
      background-color: rgba(224, 224, 224, 0.856);
    }
  }
}
