<header>
  <section class="header" [class.header--hidden]="isHeaderHidden">
    <div [class]="'header__wrapper'">
      <div [class]="'header__logo'" [routerLink]="['/']">
        <img src="../../../../assets/images/logo.svg" alt="Logo" />
      </div>
      <nav [class]="'header__nav'" (mouseleave)="onDropdownHide()">
        <ul class="header__list-items">
          <li
            class="header__item"
            (mouseenter)="onDropdownTrigger($event, 'movies')"
          >
            Movies
          </li>
          <li
            class="header__item"
            (mouseenter)="onDropdownTrigger($event, 'tv')"
          >
            TV Shows
          </li>
          <li
            class="header__item"
            (mouseenter)="onDropdownTrigger($event, 'people')"
          >
            People
          </li>
          <li
            class="header__item"
            (mouseenter)="onDropdownTrigger($event, 'more')"
          >
            More
          </li>
        </ul>
        <app-dropdown></app-dropdown>
      </nav>
    </div>

    <div [class]="'header__actions'">
      <button [class]="'btn-icon'">
        <img src="../../../../assets/icons/bell.svg" alt="bell" />
      </button>
      <button [class]="'btn-icon'">
        <img src="../../../../assets/icons/avatar.svg" alt="avatar" />
      </button>
      <button (click)="focusSearch()" [class]="'btn-icon'">
        <img src="../../../../assets/icons/search.svg" alt="search" />
      </button>
    </div>
  </section>
</header>
