<section class="banner">
  <div class="banner__title">
    <h1>Welcome.</h1>
    <p>Millions of movies, TV shows and people to discover. Explore now.</p>
  </div>
  <div class="banner__search"><input type="text" /><button>Search</button></div>
</section>

<app-slider
  [action]="'movie-details'"
  [hasScore]="true"
  [title]="'Trending'"
  [tabs]="['day', 'week']"
  [activeTab]="selectedTab"
  [items]="movieList"
  [onTabChange]="onTrendingTabChange"
></app-slider>

<section class="bg1">
  <app-slider
    [imgBaseUrl]="imgBaseUrl_355_200"
    [action]="'trailer'"
    [hasPlay]="true"
    [hImg]="'200px'"
    [wImg]="'355px'"
    [color]="'white'"
    [colorDate]="'white'"
    [colorTitle]="'white'"
    [title]="'Latest Trailers'"
    [items]="trailerList"
  ></app-slider>
</section>

<app-slider
  [action]="'movie-details'"
  [title]="'Popular TvShow'"
  [items]="popularTvShowList"
  [hasScore]="true"
></app-slider>

<section class="bg1">
  <app-slider
    [color]="'white'"
    [colorTitle]="'white'"
    [title]="'Popular People'"
    [items]="popularPepleList"
    [hasScore]="true"
  ></app-slider>
</section>

<app-leader-board></app-leader-board>
