:host {
  max-width: 1050px;
}

.cast {
  display: flex;
  flex-direction: column;
  &__nav {
    cursor: pointer;
    font-weight: 600;
    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: rgba(0, 0, 0, 0.527);
      }
    }
    padding-bottom: 32px;
    border-bottom: 1.2px solid rgb(212, 212, 212);
  }
}
