.cast {
  display: flex;
  flex-direction: column;
  left: -16px;
  position: relative;
  &__nav {
    margin-left: 16px;
    cursor: pointer;
    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: rgba(0, 0, 0, 0.527);
      }
    }
    padding-bottom: 32px;
    border-bottom: 1.2px solid rgb(212, 212, 212);
  }
}
