:host {
  max-width: 970px;
  opacity: 0;
  animation: fadeIn 0.8s ease-in-out forwards;
  transition: all 0.5s ease-in-out;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

h2 {
  font-weight: 600;
  font-size: 1.75rem;
  margin: 0;
  margin-top: 16px;
}

.cast {
  display: flex;
  flex-direction: column;
  border-bottom: 1.2px solid rgb(212, 212, 212);
  &__nav {
    cursor: pointer;
    font-weight: 600;
    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: rgba(0, 0, 0, 0.527);
      }
    }
    padding-bottom: 32px;
  }

  &__empty {
    font-style: italic;
    color: gray;
    margin-top: 16px;
  }
}
