:host {
  max-width: 1050px;

  opacity: 0;
  animation: fadeIn 0.8s ease-in-out forwards;
  transition: all 0.5s ease-in-out;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.cast {
  display: flex;
  flex-direction: column;
  &__nav {
    cursor: pointer;
    font-weight: 600;
    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: rgba(0, 0, 0, 0.527);
      }
    }
    padding-bottom: 32px;
    border-bottom: 1.2px solid rgb(212, 212, 212);
  }
}
