<div (click)="onPosterClick()" [style]="{ width: wImg }" class="people-card">
  <div [style.flex]="imgFlex" class="people-card__poster">
    <img
      [style]="{
        width: wImg,
        height: hImg
      }"
      [src]="getImageSrc()"
      [alt]="getAltText()"
    />
  </div>
  <div [style.width]="wImg" class="people-card__footer">
    <h3
      [style]="{
        color: color,
        fontSize: titleSize
      }"
      class="people-card__name"
    >
      {{ getName() }}
    </h3>
    <h4
      *ngIf="hasPopularity"
      [style]="{
        color: color,
        fontSize: fontSize
      }"
    >
      Popularity: {{ popularity | number : "1.0-0" }}
    </h4>
    <h4
      [style]="{
        color: color,
        fontSize: fontSize
      }"
      *ngIf="hasCharater"
      [style.color]="color"
    >
      {{ character }}
    </h4>
    <h4
      [style]="{
        color: color,
        fontSize: fontSize
      }"
    >
      {{ knowFor }}
    </h4>
  </div>
</div>
