.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 31, 31, 0.397);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.rating {
  position: relative;
  z-index: 9999;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #032541;
  width: 650px;

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 24px;
  }

  &__paragraph {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  &__score {
    margin-bottom: 1rem;

    .rating__percentage {
      font-weight: bold;
    }
  }

  &__slider {
    width: 100%;
    appearance: none;
    height: 8px;
    border-radius: 4px;
    outline: none;
    margin-bottom: 0.5rem;
    background: #ccc;

    &::-webkit-slider-thumb {
      appearance: none;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #1e272e;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #1e272e;
      cursor: pointer;
    }
  }

  &__ticks {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    margin-bottom: 1rem;

    .rating__tick {
      width: 2px;
      text-align: center;
      color: #888;
    }
  }

  &__actions {
    text-align: right;
    position: relative;

    .rating__clear {
      background: none;
      border: none;
      color: #3498db;
      cursor: pointer;
      font-size: 0.9rem;
      margin-left: 0.5rem;
      padding: 0.3rem 0.6rem;
      border-radius: 4px;
    }

    .rating__submit {
      background-color: #34dba3;
      border: none;
      color: white;
      cursor: pointer;
      font-size: 0.9rem;
      margin-left: 0.5rem;
      padding: 0.3rem 0.6rem;
      border-radius: 4px;

      &:hover {
        background-color: #34dba39f;
      }
    }
  }
}
