<div class="movie" *ngIf="res" >
  <h1 class="movie__title">{{ getTitle() }}</h1>

  <div class="movie__body">
    <section class="movie__fillter">
      <app-movie-filter *ngIf="genres" [genresList]="genres.genres" (filterChange)="discover($event)"></app-movie-filter>
    </section>

    <section class="movie__list">
      <div class="movie__none" *ngIf="isMovieNone()">Don't have any shows!</div>
      <div class="movie__grid">
        <ng-container *ngFor="let p of res.results; let index = index">
          <app-white-card
            [item]="p"
            [action]="'movie-detail'"
            [titleSize]="'18px'"
            [fontSize]="'16px'"
            [imgFlex]="4"
            [hasMore]="true"
            [hasScore]="true"
            [type]="getType()"
            [hasDate]="true"
          ></app-white-card>
        </ng-container>
      </div>

      <app-pagination
        [currentPage]="currentPage"
        [totalPages]="res.total_pages"
        [maxVisiblePages]="7"
        [showFirstLast]="true"
        [showPrevNext]="true"
        [showPageNumbers]="true"
        (pageChange)="loadPage($event)"
      >
      </app-pagination>
    </section>
  </div>
</div>
