<div class="leaderboard">
  <h2>Leaderboard</h2>
  <div class="legend">
    <span><span class="dot green"></span> All Time Edits</span>
    <span><span class="dot red"></span> Edits This Week</span>
  </div>

  <div class="user-list">
    <div class="user" *ngFor="let user of users">
      <div class="avatar">
        <ng-container *ngIf="user.avatarUrl; else letterAvatar">
          <img [src]="user.avatarUrl" alt="avatar" />
        </ng-container>
        <ng-template #letterAvatar>
          <div class="letter-avatar">
            {{ user.username.charAt(0).toUpperCase() }}
          </div>
        </ng-template>
      </div>

      <div class="info">
        <div class="username">{{ user.username }}</div>
        <div class="flex">
          <div class="bar all-time">
            <div
              class="fill green"
              [style.width.%]="(user.allTimeEdits / maxAllTimeEdits) * 100"
            ></div>
          </div>
          <div class="number">{{ user.allTimeEdits }}</div>
        </div>
        <div class="flex">
          <div class="bar weekly">
            <div
              class="fill red"
              [style.width.%]="(user.weeklyEdits / maxWeeklyEdits) * 100"
            ></div>
          </div>
          <div class="number">{{ user.weeklyEdits }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
