<app-movie-header-info
  *ngIf="details"
  [details]="details"
  [type]="type"
  [movieCredits]="credits"
></app-movie-header-info>
<div *ngIf="details" class="movie-body">
  <div class="col">
    <app-movie-cast [details]="details" [casts]="credits.cast" [type]="type"></app-movie-cast>
    <app-crr-tv-season [season]="lastSeason" *ngIf="type === 'tv'"></app-crr-tv-season>
    <app-movie-social></app-movie-social>
    <app-movie-media></app-movie-media>
    <app-movie-recommendations></app-movie-recommendations>
  </div>
  <div class="col">
    <app-movie-aside [details]="details" [keywords]="keywords"></app-movie-aside>
  </div>
</div>
