:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.movie-body {
  position: relative;
  display: flex;
  margin: 0 auto;
  gap: 30px;
  padding: 30px 40px;
  padding-top: 0px;
  max-width: 1400px;
}
