:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.movie-body {
  display: flex;
  gap: 30px;
  padding: 30px 40px;
  max-width: 1400px;
}

.col {
  display: flex;
  flex-direction: column;
}
