<ng-container *ngIf="movieCredits">
  <div class="credits__header">
    <div class="credits__header-content">
      <img [src]="img" [alt]="title" />
      <div class="credits__header-part">
        <h1>
          {{ title }} <span> ({{ date | date : "yyyy" }})</span>
        </h1>
        <a (click)="back()">
          <img src="/assets/icons/back.png" alt="back" /> Quy lại màn hình
          chính</a
        >
      </div>
    </div>
  </div>

  <div class="credits__body">
    <div class="col">
      <h1>
        Cast <span> ({{ movieCredits.cast.length }})</span>
      </h1>
      <ul>
        <li *ngFor="let p of movieCredits.cast">
          <div (click)="peopleDetails(p.id)" class="credits__item">
            <img [src]="getImg(p.profile_path)" [alt]="p.name" />
            <div class="credits__content">
              <h3>{{ p.name }}</h3>
              <h4>{{ p.character }}</h4>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col">
      <h1>
        Crew <span> ({{ movieCredits.crew.length }})</span>
      </h1>
      <ul>
        <li *ngFor="let p of movieCredits.crew">
          <div (click)="peopleDetails(p.id)" class="credits__item">
            <img [src]="getImg(p.profile_path)" [alt]="p.name" />
            <div class="credits__content">
              <h3>{{ p.name }}</h3>
              <h4>{{ p.job }}</h4>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</ng-container>
