:host {
  width: 100%;
  color: white;
}

.info {
  position: relative;
  background: linear-gradient(135deg, #90d3ae, #636dce);
  display: flex;
  justify-content: center;
  width: 100%;

  // &__overlay {
  //   width: 100%;
  //   content: "";
  //   position: absolute;
  //   inset: 0;
  //   background: linear-gradient(135deg, #b3ffd583, #c8cdf777);
  //   z-index: 1;
  // }

  &__body {
    z-index: 2;
    max-width: 1380px;
    display: flex;
    justify-content: center;
    padding: 30px 40px;
    gap: 40px;
  }

  &__poster {
    width: max-content;
    img {
      position: relative;
      border-radius: 8px;
    }
  }

  &__content {
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 28px;
    h2 {
      margin: 0;
    }
  }

  &__note {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
    font-weight: 500;
    p {
      margin: 0;
    }
  }

  &__score {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;

    p {
      font-size: 24px;
      font-weight: 600;
      margin: 0;
    }
  }

  &__score-content {
    z-index: 10;
    bottom: 16px;
    left: 16px;
    background-color: #00a540;
    color: rgb(241, 241, 241);
    font-weight: 700;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    box-shadow: 0 0 0 2px white;
  }

  &__percent {
    font-size: 10px;
    margin-left: 1px;
  }

  &__tagline {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 8px;
    color: rgb(255, 255, 255);
    font-style: italic;
  }

  &__overview {
    h1 {
      margin: 0;
    }
    p {
      font-size: 1.125rem;
    }
  }

  &__people {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      font-size: medium;
      font-weight: 600;
      color: white;
    }
  }
}
