:host {
  width: 100vw;
  height: 100%;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.search {
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;

  &__wrapper {
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    height: max-content;
  }

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1280px;
  }

  img {
    width: 16px;
    height: 16px;
    margin-right: 16px;
  }

  input {
    width: 100%;
    height: 48px;
    border: none;
    color: rgb(100, 100, 100);
    font-size: 1rem;
    outline: none;

    &::placeholder {
      font-style: italic;
    }
  }
}
