<section class="banner">
  <div class="banner__title">
    <h1>Welcome.</h1>
    <p>Millions of movies, TV shows and people to discover. Explore now.</p>
  </div>
  <div class="banner__search"><input type="text" /><button>Search</button></div>
</section>

<app-slider
  [title]="'Trending'"
  [tabs]="['day', 'week']"
  [activeTab]="trendingTab"
  [items]="movieList"
  [onTabChange]="onTrendingTabChange"
  [mgnTop]="'24px'"
>
  <ng-template #cardTemplate let-item>
    <app-movie-card
      [item]="item"
      [type]="'movie'"
      [hasScore]="true"
      [action]="'movie-details'"
      [hasMore]="true"
    ></app-movie-card>
  </ng-template>
</app-slider>

<section class="bg1">
  <app-slider
    [title]="'Latest Trailers'"
    [items]="trailerList"
    [color]="'white'"
    [mgnTop]="'24px'"
  >
    <ng-template #cardTemplate let-item>
      <app-movie-card
        [action]="'trailer'"
        [imgBaseUrl]="imgBaseUrl_355_200"
        [item]="item"
        [hImg]="'200px'"
        [wImg]="'355px'"
        [hasPlay]="true"
        [hasMore]="true"
        [colorDate]="'white'"
        [colorTitle]="'white'"
      ></app-movie-card>
    </ng-template>
  </app-slider>
</section>

<app-slider
  [tabs]="['day', 'week']"
  [activeTab]="tvTrendingTab"
  [onTabChange]="onPopularTvShowList"
  [title]="'Popular TvShow'"
  [items]="popularTvShowList"
  [mgnTop]="'24px'"
>
  <ng-template #cardTemplate let-item>
    <app-movie-card
      [item]="item"
      [type]="'tv'"
      [action]="'movie-details'"
      [hasScore]="true"
      [hasMore]="true"
    >
    </app-movie-card>
  </ng-template>
</app-slider>

<section class="bg1">
  <app-slider
    [color]="'white'"
    [title]="'Popular People'"
    [items]="popularPepleList"
    [mgnTop]="'24px'"
  >
    <ng-template #cardTemplate let-item>
      <app-white-card
        [hasPopularity]="true"
        [item]="item"
        [color]="'black'"
        [action]="'people-detail'"
        [imgFlex]="4"
      ></app-white-card>
    </ng-template>
  </app-slider>
</section>

<app-leader-board></app-leader-board>